@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, input, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	/*line-height:1.125em; */ /*afto einai to sosto*/
	line-height:1.55em; 
	vertical-align: baseline;
	background: transparent;
}
table, td, form, fieldset {border-collapse:collapse;border-spacing:0;border: none;}

fieldset,img {border:0;} 

address,caption,cite,code,dfn,em,strong,th,var {
font-style:normal;font-weight:normal;
}
  
ul, ol, li {list-style:none;}

caption,th {text-align:left;}  

h1,h2,h3,h4,h5,h6 {font-size:100%;}

html, body {
	margin: 0;
	padding: 0; 
} 

/*------------

h2 #8a8a8a
blue #002442
light blue #004A88
orange hover link #d64522  fe8333

-------------*/
/*-----------------------------------*/ 
 body{
	padding:0px;
	margin:0px;
	/*background-color:#003866;*/
	background-color:#002442;
	background-attachment: fixed;
	background-image: url(images/back3.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	font-family: Arial, Helvetica, sans-serif;
}
 
a:link {color: #fff; text-decoration: none;}

a:visited {color: #fff; text-decoration: none;}

a:hover {color: #d64522; text-decoration: none;}

a:active {color: #fff; text-decoration: none;}

.spacer30 {
	font-size: 1px;
	line-height: 1px;
	clear: both;
	height: 30px;
	width: 1px;
}

/*headermenu*/
#headermenu {
	margin: 0;
	padding: 0;
/*	opacity: 0.9;
	filter: alpha(opacity=90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;*/
}

#block-menu-primary-links, #block-menu-primary-links ul.menu {margin: 0; padding:0;}

#block-menu-primary-links ul.menu li {
	display: inline;
	list-style-image: none;
	list-style-type: none;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding: 0;	
}

#block-menu-primary-links ul.menu li a:link, #block-menu-primary-links ul.menu li a:visited {
	background-color: #002442;
	padding: 6px 8px 3px 8px;
	margin: 0 5px 0 0;
	text-decoration: none;
}
#block-menu-primary-links ul.menu li a:hover {
	background-color: #d64522;
	color:#FFF;
}
#block-menu-primary-links ul.menu li a:active {background-color: #002442;}

#block-menu-primary-links ul.menu li.leaf a.active {background-color: #d64522; color:#FFF; }
 
 
/*main content*/
#maincontent {
	float: left; 
	overflow: hidden;
	width: 530px;
	padding: 0 0 70px 0;
	margin: 76px 0 0 60px; 
}

#center {
	width: 490px;
	margin: 0;
	background-color: #002442;
/*	opacity: 0.9; 
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;*/
	padding: 20px 12px 18px 12px;
	text-align: left;
	font-size: 13px;
}

h1 {
	color: #8a8a8a; 
	padding: 0 0 5px 0;
	font-size: 18px;
}

#center h2 {
	color: #A6A6A6;
	font-weight: bold;
	
}

#center p  {
	color: #A6A6A6;
	text-align: left;
	margin: 0;
	padding: 0;
}

#center ul {padding: 0 0 0 10px; display: block;}

#center ul li {
	color: #A6A6A6;
	font-size: 13px;
	list-style-type: square;
}

#center p a:link, #center p a:visited { color: #d64522;}
#center p a:hover { color: #fff;}
#center p a:active { color: #d64522;}

#center .content p img {
	float: left; 
	margin: 0;
	padding: 0 15px 0 0;
}

#center h3 {color: #a2a28c; padding: 0; margin: 0; font-size: 15px;}

/*right column*/
#rite {
	width: 280px;
	display: block;
	overflow: hidden;
	margin: 0 0 0 50px;
	padding: 0;
	float: left;
	/*border: 1px solid #003;*/
} 

#logo {
	background-image: url(images/logo.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 151px;
	width: 170px;
	margin: 0 0 20px 65px;
	padding: 0;
	float:left;
	clear:both;
}

#rite h2 {
	color: #8a8a8a;
	text-transform: uppercase;
	font-size: 14px;
	margin: 0;
	padding: 0 0 5px 0;
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: left;
	font-weight: normal;
}

#block-menu-menu-tutorial h2 {padding: 20px 0 5px 0;}

#block-menu-secondary-links, 
#block-menu-menu-tutorial {
	padding: 0 0 0 60px;
	margin: 0 0 0 30px;
	display: block;
	width: 190px;
	overflow: hidden;
	clear:both;
}

#block-menu-secondary-links {
	padding: 20px 0 0 68px; 
	border-top: 6px solid #026ab1; 
}

#block-menu-menu-tutorial {
	border-bottom: 6px solid #026ab1; 
	padding: 0 0 23px 68px;
}

#block-menu-secondary-links ul.menu, 
#block-menu-menu-tutorial ul.menu {
	margin:0;
	padding:0;
	display: block;
}

#block-menu-secondary-links ul.menu li.leaf, 
#block-menu-menu-tutorial ul.menu li.leaf {
	list-style-image: none;
	list-style-type: none;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	height: 22px;
	display: block;
}

#block-menu-secondary-links ul.menu li.leaf a:link, 
#block-menu-secondary-links ul.menu li.leaf a:visited, 
#block-menu-menu-tutorial ul.menu li.leaf a:link, 
#block-menu-menu-tutorial ul.menu li.leaf a:visited {
	color: #FFF;
	text-decoration: none;
	padding: 4px 0 4px 0;
	margin: 0;
}
#block-menu-secondary-links ul.menu li.leaf a:hover, 
#block-menu-menu-tutorial ul.menu li.leaf a:hover {
	color: #d64522; 	
}

#rite ul.menu li.leaf a:active {color: #FFF;}

#block-menu-secondary-links ul.menu li.leaf a.active, 
#block-menu-menu-tutorial ul.menu li.leaf a.active	{
		color: #d64522;
}

/*ritefoot*/
#ritefoot {padding: 15px 0 25px 74px; text-align: center;}

#ritefoot p {	
	text-align: left;
	font-size: 11px; 
	color: #A6A6A6;}

/*contact form*/
form.webform-client-form {padding: 0 0 20px 0;}

form.webform-client-form label {
	color: #FFF; 
	display: block; 
	float:left; 
	width: 150px; 
	text-align: right;
	padding: 0 10px 0 0;
}

form.webform-client-form input.form-text, 
form.webform-client-form input#edit-submit, 
form.webform-client-form textarea#edit-submitted-messages {
	border: 1px solid #773618;
	background-color: #026ab1;
	color: #FFF;
	padding: 3px 3px 3px 3px;
	line-height: 14px;
	width: 200px;
	display: block;
}

form.webform-client-form .resizable-textarea {display: block; float: left; width: 200px;}

form.webform-client-form textarea#edit-submitted-messages {}

form.webform-client-form input#edit-submit {
	width: 206px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 3px 3px 3px 3px;
	margin: 15px 0 0 160px;
	display: block;
	clear: both;
	float: none;
}

form.webform-client-form input#edit-submit:hover {
	background-color: #d64522;
	cursor: pointer;
}

.grippie {display: none;}
 
/*sitemap*/
.site-map {	
	text-align: left;
	font-size: 12px; 
	color: #A6A6A6;
	padding: 15px 0 0 5px;
}
	
.site-map ul.menu {padding: 0 0 0 15px;}	

/*messages*/
.messages {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #f9692c;
} 